.panel.panel-info
  .panel-heading
    .panel-title
      Reservación |
      = @reservation['reference']
  .panel-body
    .reservation
      .row
        .col-sm-3
          .row
            .col-sm-12
              .group
                %label Creación:
                = Date.strptime(@reservation['creationDate'], "%Y-%m-%d").strftime("%m/%d/%Y")
          .row
            .col-sm-12
              .group{ class: "#{@reservation['status'].downcase}" }
                %label Status:
                = @reservation['status']

        .col-sm-3
          .row
            .col-sm-12
              .group
                %label Check-in:
                = Date.strptime(@reservation['hotel']['checkIn'], "%Y-%m-%d").strftime("%m/%d/%Y")
          .row
            .col-sm-12
              .group
                %label Check-out:
                = Date.strptime(@reservation['hotel']['checkOut'], "%Y-%m-%d").strftime("%m/%d/%Y")

        .col-sm-6
          .row
            .col-sm-12
              .group
                %label Hotel:
                = @reservation['hotel']['name']
          .row
            .col-sm-12
              .group
                %label Destination:
                = "#{@reservation['hotel']['destinationName']},"
                = @reservation['hotel']['zoneName']

      .row
        .col-sm-12
          .group
            %br
            %label A Nombre:
            = @reservation['holder']['name']
            = @reservation['holder']['surname']

.panel.panel-primary
  .panel-heading
    Habitaciones
  .panel-body
    .row
      .col-sm-12
        - @reservation['hotel']['rooms'].each do |room|
          .room
            .row
              .col-sm-8
                = room['code']
                |
                = room['name']
              .col-sm-4.text-right.text-success
                - room['rates'].each do |rate|
                  = @reservation['hotel']['currency']
                  $
                  = rate['net']

            .row
              .col-sm-8
                %ul
                  - room['paxes'].each do |pax|
                    %li
                      - if pax['type'] == "AD"
                        Adulto:
                      - else
                        Menor:
                      = pax['name']
                      = pax['surname']
                      - if pax['type'] != "AD"
                        = pax['age']
                        años

            .row
              .col-sm-8
                - room['rates'].each do |rate|
                  - if rate.has_key? 'cancellationPolicies'
                    - rate['cancellationPolicies'].each do |cancellation_policy|
                      .text-danger
                        Cancelación:
                        = @reservation['hotel']['currency']
                        $
                        = cancellation_policy['amount']
                        = DateTime.iso8601(cancellation_policy['from']).strftime("%m/%d/%y %t %z")

.panel.panel-primary
  .panel-heading
    Totales
  .panel-body
    .row
      .col-sm-2
        = link_to 'Cancelar', { action: :cancel, id: @reservation['reference'] },  method: :delete, class: "btn btn-raised btn-danger", data: { confirm: "Seguro que deseas cancelar la reservación #{@reservation['reference']}?" }
      .col-sm-3.col-sm-offset-7
        .group
          - if @local_reservation != nil
            - client_total = Money.new @local_reservation.client_total, @reservation['currency']
            %label Client Total:
            = @reservation['currency']
            $
            = client_total.amount
        .group
          %label Supplier Total:
          = @reservation['currency']
          $
          = @reservation['totalSellingRate']
        .group
          %label Pending:
          = @reservation['currency']
          $
          = @reservation['pendingAmount']
