.header
  .first-row
    .container
      .row
        .col-sm-5
          .row
            .col-sm-12
              .btn-group.btn-group-justified
                %a.btn.btn-link{ href: "#" }
                  = fa_icon "user"
                  Agent Login
                %a.btn.btn-link{ href: "#" }
                  = fa_icon "user"
                  Customer Login
                %a.btn.btn-link{ href: "#" }
                  = fa_icon "edit"
                  Not a member?

        .col-sm-5.col-sm-offset-2
          .row
            .col-sm-12
              .btn-group.btn-group-justified
                %a.btn.btn-link{ href: "#" }
                  Why us?
                %a.btn.btn-link{ href: "#" }
                  Contact
                %a.btn.btn-link{ href: "#" }
                  = fa_icon "facebook"
                %a.btn.btn-link{ href: "#" }
                  = fa_icon "twitter"
                %a.btn.btn-link{ href: "#" }
                  = fa_icon "google-plus"

  .second-row
    .container
      .row
        .col-sm-5
          .logo
            %a{ href: '/' }
              %img{ src: asset_path('logo-neander-travel.png'), style: 'display: block; margin: 10px auto; 20px;' }

        .col-sm-4
          &nbsp;
        .col-sm-3
          .btn-group.btn-group-justified
            .btn.btn-link.call-us{ href: "#" }
              %span
                CALL US
              %p.number
                = fa_icon "phone"
                815-815-8815

  - if @destinations.present?
    .container
      .search-box-container
        %form#destination-form{ action: "/hotels" }
          .row
            .col-sm-6
              %select.destinations-select{ name: 'destination', placeholder: "Where do you want to go?" }
                %option
                - @destinations['destinations'].each do |destination|
                  - option_value = destination['countryCode'] + "-" + destination['code']
                  %option{ value: option_value }
                    = destination['name']['content']
                  - if destination['zones']
                    - destination['zones'].each do |zone|
                      %option{ value: option_value + "-" + zone['zoneCode'].to_s }
                        = destination['name']['content'] + " " + zone['name']
            .col-sm-2
              - arrival_date = Date.today + 3.days
              %input#start-date{ type: 'hidden', value: arrival_date.strftime('%m-%d-%Y') }
              %input#end-date{ type: 'hidden', value: (Date.today + 365.days).strftime('%m-%d-%Y') }
              %input.form-control{ name: 'check_in', type: 'text', value: params['check_in'] || arrival_date.strftime('%m/%d/%Y') }
            .col-sm-2
              %select.number-of-nights.form-control{ name: 'number_of_nights' }
                - default_number_of_night = params['number_of_nights'] != nil ? params['number_of_nights'].to_i : 2
                - (1..30).to_a.each do |number_of_night|
                  - if number_of_night == default_number_of_night
                    %option{ selected: true, value: number_of_night }
                      = number_of_night
                      nights
                  - else
                    %option{ value: number_of_night }
                      = number_of_night
                      nights
            .col-sm-2
              %button.btn.btn-block.btn-warning
                Buscar

