.new-reservation
  .row
    .col-sm-7
      %form{ action: reservations_path, method: :post }
        = hidden_field_tag :authenticity_token, form_authenticity_token

        .panel.panel-primary
          .panel-heading
            = "Reservation for #{@hotel['name']}"
          .panel-body

            .holder
              %h2 Reservation Holder
              .row
                .col-sm-6
                  .form-group
                    %label Name
                    %input.form-control
                .col-sm-6
                  .form-group
                    %label Surname
                    %input.form-control
              .row
                .col-sm-6
                  .form-group
                    %label Email
                    %input.form-control
                .col-sm-6
                  .form-group
                    %label Phone Number
                    %input.form-control

            .paxes
              %h2 Pax Information
              - adult_age_range = (18..99).to_a
              - (1..params['number_of_rooms'].to_i).to_a.each do |room_number|

                %h3= "Room ##{room_number}"
                %table.table
                  %tr
                    %th.text-center Adult #
                    %th Name
                    %th Surname
                    %th.text-center Age
                  - (1..params["room_#{room_number}_adults"].to_i).to_a.each do |adult_number|
                    %tr
                      %td.text-center
                        = adult_number
                      %td
                        %input.form-control
                      %td
                        %input.form-control
                      %td
                        %select.form-control
                          - adult_age_range.each do |adult_age_number|
                            %option= adult_age_number

                  - if params["room_#{room_number}_children"].to_i > 0
                    %table.table
                      %tr
                        %th.text-center Child #
                        %th Name
                        %th Surname
                        %th.text-center Age
                      - (1..params["room_#{room_number}_children"].to_i).to_a.each do |child_number|
                        %tr
                          %td.text-center
                            = child_number
                          %td
                            %input.form-control
                          %td
                            %input.form-control
                          %td
                            %select.form-control
                              %option= params["room_#{room_number}_child_#{child_number}_age"]

            .payment
              %h2 Payment Information
              .row
                .col-sm-6
                  .form-group
                    %label Holder name:
                    %input.form-control
                .col-sm-6
                  .form-group
                    %label Card type:
                    %select.form-control
                      %option VISA
                      %option AMEX
                      %option MAESTRO
              .row
                .col-sm-6
                  .form-group
                    %label Card number:
                    %input.form-control
                .col-sm-6
                  .form-group
                    %label Expirity date:
                    .row
                      .col-sm-6
                        %select.form-control
                          - (1..12).to_a.each do |month_number|
                            %option= month_number
                      .col-sm-6
                        %select.form-control
                          - (2016..2025).to_a.each do |year_number|
                            %option= year_number
              .row
                .col-sm-6
                  .form-group
                    %label Card CVC:
                    %input.form-control

    .col-sm-5
      .row
        .col-sm-12
          .panel.panel-primary
            .panel-heading
              Reservation Details
            .panel-body
              %dl.dl-horizontal
                - check_in  = Date.strptime(@hotel['checkIn'] , "%Y-%m-%d")
                - check_out = Date.strptime(@hotel['checkOut'], "%Y-%m-%d")
                %dt Hotel:
                %dd= @hotel['name']
                %dt Destination:
                %dd= "#{@hotel['destinationName']}, #{@hotel['zoneName']}"
                %dt Room:
                %dd= @hotel['rooms'][0]['name']
                %dt Check In:
                %dd= check_in.strftime("%d/%m/%Y")
                %dt Check Out:
                %dd= check_out.strftime("%d/%m/%Y")
                %dt Nigths:
                %dd= check_out.mjd - check_in.mjd

              %table.table
                - @hotel['rooms'][0]['rates'][0]['offers'].each do |offer|
                  %tr
                    %td.text-right.text-success
                      = offer['name']
                      -
                      = @hotel['currency']
                      $
                      = offer['amount'].to_f * -1
                - if @hotel['rooms'][0]['rates'][0]['taxes']['allIncluded'] == true
                  %tr
                    %td.text-right
                      All Taxes Included
                %tr
                  %td.text-right
                    .total-net
                      = @hotel['currency']
                      $
                      = @hotel['totalNet']
                %tr
                  %td.text-right
                    .btn.btn-block.btn-warning
                      Book
