.new-reservation
  .row
    %form#new-reservation-form{ action: reservations_path, method: :post }
      %span.card-errors

      = hidden_field_tag :authenticity_token, form_authenticity_token
      - params[:rate_key].each do |rate|
        = hidden_field_tag "rate_key[]", rate

      .col-sm-7
        .panel.panel-primary
          .panel-heading
            = "Reservation for #{@hotel['name']}"
          .panel-body

            .holder
              %h2 Reservation Holder
              .row
                .col-sm-6
                  .form-group
                    %label Name
                    %input.form-control{ name: "holder_name" }
                .col-sm-6
                  .form-group
                    %label Surname
                    %input.form-control{ name: "holder_surname" }
              .row
                .col-sm-6
                  .form-group
                    %label Email
                    %input.form-control{ name: "holder_email" }
                .col-sm-6
                  .form-group
                    %label Phone Number
                    %input.form-control{ name: "holder_phone" }

            .paxes
              %h2 Pax Information
              = hidden_field_tag :number_of_rooms, params[:number_of_rooms]
              - adult_age_range = (18..99).to_a
              - (1..params['number_of_rooms'].to_i).to_a.each_with_index do |room_number, index|
                = hidden_field_tag "room_#{room_number}_rateKey", @hotel['rooms'][0]['rates'][index]['rateKey']
                = hidden_field_tag "room_#{room_number}_adults", params["room_#{room_number}_adults"]
                = hidden_field_tag "room_#{room_number}_children", params["room_#{room_number}_children"]

                %h3= "Room ##{room_number}"
                %table.table
                  %tr
                    %th.text-center Adult #
                    %th Name
                    %th Surname
                    %th.text-center Age
                  - (1..params["room_#{room_number}_adults"].to_i).to_a.each do |adult_number|
                    %tr
                      %td.text-center
                        = adult_number
                      %td
                        %input.form-control{ name: "room_#{room_number}_adult_#{adult_number}_name" }
                      %td
                        %input.form-control{ name: "room_#{room_number}_adult_#{adult_number}_surname" }
                      %td
                        %select.form-control{ name: "room_#{room_number}_adult_#{adult_number}_age" }
                          - adult_age_range.each do |adult_age_number|
                            %option= adult_age_number

                  - if params["room_#{room_number}_children"].to_i > 0
                    %table.table
                      %tr
                        %th.text-center Child #
                        %th Name
                        %th Surname
                        %th.text-center Age
                      - (1..params["room_#{room_number}_children"].to_i).to_a.each do |child_number|
                        %tr
                          %td.text-center
                            = child_number
                          %td
                            %input.form-control{ name: "room_#{room_number}_child_#{child_number}_name" }
                          %td
                            %input.form-control{ name: "room_#{room_number}_child_#{child_number}_surname" }
                          %td
                            %select.form-control{ name: "room_#{room_number}_child_#{child_number}_age" }
                              %option= params["room_#{room_number}_child_#{child_number}_age"]

            .payment
              %h2 Payment Information
              .row
                .col-sm-6
                  .form-group
                    %label Holder name:
                    %input.form-control{ name: "card_holder_name", data: { conekta: 'card[name]' }  }
                .col-sm-6
                  .form-group
                    %label Card type:
                    %select.form-control{ name: "card_type" }
                      %option VISA
                      %option AMEX
                      %option MAESTRO
              .row
                .col-sm-6
                  .form-group
                    %label Card number:
                    %input.form-control{ name: "card_number", data: { conekta: 'card[number]' }  }
                .col-sm-6
                  .form-group
                    .row
                      .col-sm-4
                        %label Month:
                        %select.form-control{ name: "card_expirity_month", data: { conekta: 'card[exp_month]' }  }
                          - (1..12).to_a.each do |month_number|
                            %option= month_number
                      .col-sm-4
                        %label Year:
                        %select.form-control{ name: "card_expirity_year", data: { conekta: 'card[exp_year]' }  }
                          - (2016..2025).to_a.each do |year_number|
                            %option= year_number
                      .col-sm-4
                        .form-group
                          %label CVC:
                          %input.form-control{ name: "card_cvc", data: { conekta: 'card[cvc]' }  }

              .row
                .col-sm-6
                  .form-group
                    %label Calle:
                    %input.form-control{ name: "", data: { conekta: 'card[address][street1]' }  }

                .col-sm-6
                  .form-group
                    %label Colonia:
                    %input.form-control{ name: "", data: { conekta: 'card[address][street2]' }  }

              .row
                .col-sm-6
                  .form-group
                    %label Ciudad:
                    %input.form-control{ name: "", data: { conekta: 'card[address][city]' }  }

                .col-sm-6
                  .form-group
                    %label Estado:
                    %input.form-control{ name: "", data: { conekta: 'card[address][state]' }  }

              .row
                .col-sm-6
                  .form-group
                    %label CP:
                    %input.form-control{ name: "", data: { conekta: 'card[address][zip]' }  }

                .col-sm-6
                  .form-group
                    %label País:
                    %input.form-control{ name: "", data: { conekta: 'card[address][country]' }  }

      .col-sm-5
        .row
          .col-sm-12
            .panel.panel-primary
              .panel-heading
                Reservation Details
              .panel-body
                %dl.dl-horizontal
                  - check_in  = Date.strptime(@hotel['checkIn'] , "%Y-%m-%d")
                  - check_out = Date.strptime(@hotel['checkOut'], "%Y-%m-%d")
                  %dt Hotel:
                  %dd= @hotel['name']
                  %dt Destination:
                  %dd= "#{@hotel['destinationName']}, #{@hotel['zoneName']}"
                  %dt Room:
                  %dd= @hotel['rooms'][0]['name']
                  %dt Check In:
                  %dd= check_in.strftime("%d/%m/%Y")
                  %dt Check Out:
                  %dd= check_out.strftime("%d/%m/%Y")
                  %dt Nigths:
                  %dd= check_out.mjd - check_in.mjd

                %table.table
                  - if @hotel['rooms'][0]['rates'][0]['offers'] != nil
                    - @hotel['rooms'][0]['rates'][0]['offers'].each do |offer|
                      %tr
                        %td.text-right.text-success
                          = offer['name']
                          -
                          = @hotel['currency']
                          $
                          = offer['amount'].to_f * -1
                  - if @hotel['rooms'][0]['rates'][0]['taxes']['allIncluded'] == true
                    %tr
                      %td.text-right
                        All Taxes Included
                  %tr
                    %td.text-right
                      .total-net
                        = @hotel['currency']
                        $
                        = @hotel['totalNet']
                  %tr
                    %td.text-right
                      %button#reservation-submit.btn.btn-block.btn-warning
                        Book
