.new-reservation
  .row
    .col-sm-12
      - flash.each do |key, value|
        = content_tag :div, value, class: "alert alert-danger #{key}"
      %span.card-errors

  .row
    %form#new-reservation-form{ action: reservations_path, method: :post }
      = hidden_field_tag :authenticity_token, form_authenticity_token
      = hidden_field_tag :hotel_id, @hotel['code']
      - params[:rate_key].each do |rate|
        = hidden_field_tag "rate_key[]", rate

      .col-sm-7
        .panel.panel-primary
          .panel-heading
            = "Reservación para #{@hotel['name']}"
          .panel-body

            .holder
              %h2 Titular de la Reservación
              .row
                .col-sm-6
                  .form-group
                    %label Nombre
                    %input.form-control{ name: "holder_name" }
                .col-sm-6
                  .form-group
                    %label Apellido
                    %input.form-control{ name: "holder_surname" }
              .row
                .col-sm-6
                  .form-group
                    %label Email
                    %input.form-control{ name: "holder_email" }
                .col-sm-6
                  .form-group
                    %label Teléfono
                    %input.form-control{ name: "holder_phone" }

            .paxes
              %h2 Información de Pasajeros
              = hidden_field_tag :number_of_rooms, params[:number_of_rooms]
              - adult_age_range = (18..99).to_a
              - (1..params['number_of_rooms'].to_i).to_a.each_with_index do |room_number, index|
                = hidden_field_tag "room_#{room_number}_rateKey", params["rate_key"][index]
                = hidden_field_tag "room_#{room_number}_adults", params["room_#{room_number}_adults"]
                = hidden_field_tag "room_#{room_number}_children", params["room_#{room_number}_children"]

                %h3= "Habitación ##{room_number}"
                %table.table
                  %tr
                    %th.text-center Adulto #
                    %th Nombre
                    %th Apellido
                    / %th.text-center Edad
                  - (1..params["room_#{room_number}_adults"].to_i).to_a.each do |adult_number|
                    %tr
                      %td.text-center
                        = adult_number
                      %td
                        %input.form-control{ name: "room_#{room_number}_adult_#{adult_number}_name" }
                      %td
                        %input.form-control{ name: "room_#{room_number}_adult_#{adult_number}_surname" }
                      / %td
                      /   %select.form-control{ name: "room_#{room_number}_adult_#{adult_number}_age" }
                      /     - adult_age_range.each do |adult_age_number|
                      /       %option= adult_age_number

                  - if params["room_#{room_number}_children"].to_i > 0
                    %table.table
                      %tr
                        %th.text-center Menor #
                        %th Nombre
                        %th Apellido
                        %th.text-center Edad
                      - (1..params["room_#{room_number}_children"].to_i).to_a.each do |child_number|
                        %tr
                          %td.text-center
                            = child_number
                          %td
                            %input.form-control{ name: "room_#{room_number}_child_#{child_number}_name" }
                          %td
                            %input.form-control{ name: "room_#{room_number}_child_#{child_number}_surname" }
                          %td
                            %select.form-control{ name: "room_#{room_number}_child_#{child_number}_age" }
                              %option= params["room_#{room_number}_child_#{child_number}_age"]

            .payment
              %h2 Información de Pago
              .row
                .col-sm-6
                  .form-group
                    %label Nombre:
                    %input.form-control{ name: "card_holder_name", data: { conekta: 'card[name]' }  }
                .col-sm-6
                  .form-group
                    %label Tipo de Tarjeta:
                    %select.form-control{ name: "card_type" }
                      %option VISA
                      %option AMEX
                      %option MASTERCARD
              .row
                .col-sm-6
                  .form-group
                    %label Número de Tarjeta:
                    %input.form-control{ name: "card_number", data: { conekta: 'card[number]' }  }
                .col-sm-6
                  .form-group
                    .row
                      .col-sm-4
                        %label Mes:
                        %select.form-control{ name: "card_expirity_month", data: { conekta: 'card[exp_month]' }  }
                          - (1..12).to_a.each do |month_number|
                            %option= month_number
                      .col-sm-4
                        %label Año:
                        %select.form-control{ name: "card_expirity_year", data: { conekta: 'card[exp_year]' }  }
                          - (2016..2025).to_a.each do |year_number|
                            %option= year_number
                      .col-sm-4
                        .form-group
                          %label CVC:
                          %input.form-control{ name: "card_cvc", data: { conekta: 'card[cvc]' }  }

              .row
                .col-sm-6
                  .form-group
                    %label Calle:
                    %input.form-control{ name: "", data: { conekta: 'card[address][street1]' }  }

                .col-sm-6
                  .form-group
                    %label Colonia:
                    %input.form-control{ name: "", data: { conekta: 'card[address][street2]' }  }

              .row
                .col-sm-6
                  .form-group
                    %label Ciudad:
                    %input.form-control{ name: "", data: { conekta: 'card[address][city]' }  }

                .col-sm-6
                  .form-group
                    %label Estado:
                    %input.form-control{ name: "", data: { conekta: 'card[address][state]' }  }

              .row
                .col-sm-6
                  .form-group
                    %label CP:
                    %input.form-control{ name: "", data: { conekta: 'card[address][zip]' }  }

                .col-sm-6
                  .form-group
                    %label País:
                    %input.form-control{ name: "", data: { conekta: 'card[address][country]' }  }

      .col-sm-5
        .row
          .col-sm-12
            .panel.panel-primary
              .panel-heading
                Detalles de Reservación
              .panel-body
                %dl.dl-horizontal
                  - check_in  = Date.strptime(@hotel['checkIn'] , "%Y-%m-%d")
                  - check_out = Date.strptime(@hotel['checkOut'], "%Y-%m-%d")
                  %dt Hotel:
                  %dd= @hotel['name']
                  %dt Destino:
                  %dd= "#{@hotel['destinationName']}, #{@hotel['zoneName']}"
                  %dt Habitación:
                  %dd= @hotel['rooms'][0]['name']
                  %dt Entrada:
                  %dd= check_in.strftime("%d/%m/%Y")
                  %dt Salida:
                  %dd= check_out.strftime("%d/%m/%Y")
                  %dt Noches:
                  %dd= check_out.mjd - check_in.mjd

                %table.table.reservation-details
                  - if @hotel['rooms'][0]['rates'][0]['rateComments'] != nil
                    = @hotel['rooms'][0]['rates'][0]['rateComments']
                  - if @hotel['rooms'][0]['rates'][0]['offers'] != nil
                    - @hotel['rooms'][0]['rates'][0]['offers'].each do |offer|
                      %tr
                        %td.text-right.text-success
                          = offer['name']
                          -
                          = @hotel['currency']
                          $
                          = offer['amount'].to_f * -1
                  - if @hotel['rooms'][0]['rates'][0].has_key? 'taxes'
                    - if @hotel['rooms'][0]['rates'][0]['taxes']['allIncluded'] == true
                      %tr
                        %td.text-right
                          Todos los impuestos incluidos
                  %tr
                    %td.text-right
                      .total-net
                        = @hotel['currency']
                        $
                        = @hotel['totalNet']

                %button#reservation-submit.btn.btn-block.btn-warning
                  Confirmar

                %br

                .cancellation-policies.text-danger
                  La penalidad por cancelación será de
                  = @hotel['currency']
                  = "$#{@hotel['rooms'][0]['rates'][0]['cancellationPolicies'][0]['amount']}"
                  después del
                  = DateTime.iso8601(@hotel['rooms'][0]['rates'][0]['cancellationPolicies'][0]['from']).strftime("%m/%d/%Y %T %Z") + "."
                  Uso horario del destino.
