<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Neandertravel - Reservation Confirmation</title>
  </head>
  <body style="-moz-box-sizing:border-box;-ms-text-size-adjust:100%;-webkit-box-sizing:border-box;-webkit-text-size-adjust:100%;Margin:0;box-sizing:border-box;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;line-height:19px;margin:0;min-width:100%;padding:0;text-align:left;width:100%!important">
    <style>@media only screen{html{min-height:100%;background:#f3f3f3}}@media only screen and (max-width:596px){.small-float-center{margin:0 auto!important;float:none!important;text-align:center!important}.small-text-center{text-align:center!important}.small-text-left{text-align:left!important}.small-text-right{text-align:right!important}}@media only screen and (max-width:596px){table.body table.container .hide-for-large{display:block!important;width:auto!important;overflow:visible!important}}@media only screen and (max-width:596px){table.body table.container .row.hide-for-large{display:table!important;width:100%!important}}@media only screen and (max-width:596px){table.body table.container .show-for-large{display:none!important;width:0;mso-hide:all;overflow:hidden}}@media only screen and (max-width:596px){table.body img{width:auto!important;height:auto!important}table.body center{min-width:0!important}table.body .container{width:95%!important}table.body .column,table.body .columns{height:auto!important;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding-left:16px!important;padding-right:16px!important}table.body .column .column,table.body .column .columns,table.body .columns .column,table.body .columns .columns{padding-left:0!important;padding-right:0!important}table.body .collapse .column,table.body .collapse .columns{padding-left:0!important;padding-right:0!important}td.small-1,th.small-1{display:inline-block!important;width:8.33333%!important}td.small-2,th.small-2{display:inline-block!important;width:16.66667%!important}td.small-3,th.small-3{display:inline-block!important;width:25%!important}td.small-4,th.small-4{display:inline-block!important;width:33.33333%!important}td.small-5,th.small-5{display:inline-block!important;width:41.66667%!important}td.small-6,th.small-6{display:inline-block!important;width:50%!important}td.small-7,th.small-7{display:inline-block!important;width:58.33333%!important}td.small-8,th.small-8{display:inline-block!important;width:66.66667%!important}td.small-9,th.small-9{display:inline-block!important;width:75%!important}td.small-10,th.small-10{display:inline-block!important;width:83.33333%!important}td.small-11,th.small-11{display:inline-block!important;width:91.66667%!important}td.small-12,th.small-12{display:inline-block!important;width:100%!important}.column td.small-12,.column th.small-12,.columns td.small-12,.columns th.small-12{display:block!important;width:100%!important}table.body td.small-offset-1,table.body th.small-offset-1{margin-left:8.33333%!important;Margin-left:8.33333%!important}table.body td.small-offset-2,table.body th.small-offset-2{margin-left:16.66667%!important;Margin-left:16.66667%!important}table.body td.small-offset-3,table.body th.small-offset-3{margin-left:25%!important;Margin-left:25%!important}table.body td.small-offset-4,table.body th.small-offset-4{margin-left:33.33333%!important;Margin-left:33.33333%!important}table.body td.small-offset-5,table.body th.small-offset-5{margin-left:41.66667%!important;Margin-left:41.66667%!important}table.body td.small-offset-6,table.body th.small-offset-6{margin-left:50%!important;Margin-left:50%!important}table.body td.small-offset-7,table.body th.small-offset-7{margin-left:58.33333%!important;Margin-left:58.33333%!important}table.body td.small-offset-8,table.body th.small-offset-8{margin-left:66.66667%!important;Margin-left:66.66667%!important}table.body td.small-offset-9,table.body th.small-offset-9{margin-left:75%!important;Margin-left:75%!important}table.body td.small-offset-10,table.body th.small-offset-10{margin-left:83.33333%!important;Margin-left:83.33333%!important}table.body td.small-offset-11,table.body th.small-offset-11{margin-left:91.66667%!important;Margin-left:91.66667%!important}table.body table.columns td.expander,table.body table.columns th.expander{display:none!important}table.body .right-text-pad,table.body .text-pad-right{padding-left:10px!important}table.body .left-text-pad,table.body .text-pad-left{padding-right:10px!important}table.menu{width:100%!important}table.menu td,table.menu th{width:auto!important;display:inline-block!important}table.menu.small-vertical td,table.menu.small-vertical th,table.menu.vertical td,table.menu.vertical th{display:block!important}table.menu[align=center]{width:auto!important}}</style>
    <table class="body" style="Margin:0;background:#f3f3f3;border-collapse:collapse;border-spacing:0;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;height:100%;line-height:19px;margin:0;padding:0;text-align:left;vertical-align:top;width:100%">
      <tr style="padding:0;text-align:left;vertical-align:top">
        <td class="center" align="center" valign="top" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;hyphens:auto;line-height:19px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
          <center data-parsed="" style="min-width:580px;width:100%">
            <table class="container float-center" style="Margin:0 auto;background:#fefefe;border-collapse:collapse;border-spacing:0;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:580px"><tbody><tr style="padding:0;text-align:left;vertical-align:top"><td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;hyphens:auto;line-height:19px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
              <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%"><tbody><tr style="padding:0;text-align:left;vertical-align:top">
                    <th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;line-height:19px;margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;text-align:left;width:564px">
      <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
        <tr style="padding:0;text-align:left;vertical-align:top">
          <th style="Margin:0;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;line-height:19px;margin:0;padding:0;text-align:left">
                  <h1 style="Margin:0;Margin-bottom:10px;color:#2980B9;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:34px;font-weight:200;line-height:1.3;margin:28px 0 16px 0;margin-bottom:10px;padding:0;text-align:left;word-wrap:normal">Gracias por reservar con nosotros</h1>
                  <p style="Margin:0;Margin-bottom:10px;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;line-height:19px;margin:0;margin-bottom:10px;padding:0;text-align:left">Estimado(a), <%= @reservation['holder']['name'] %> <%= @reservation['holder']['surname'] %></p>

                  <p style="Margin:0;Margin-bottom:10px;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;line-height:19px;margin:0;margin-bottom:10px;padding:0;text-align:left">Muchas gracias por habernos elegido. Puedes estar completamente seguro que tomaste la mejor elecci&#xF3;n con nosotros.</p>

                  <table class="wrapper details" align="center" style="background:#ECF0F1;border-collapse:collapse;border-spacing:0;margin:28px 0;padding:0;text-align:left;vertical-align:top;width:100%"><tr style="padding:0;text-align:left;vertical-align:top"><td class="wrapper-inner" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;hyphens:auto;line-height:19px;margin:0;padding:20px 10px 0;text-align:left;vertical-align:top;word-wrap:break-word">
                    <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%"><tbody><tr style="padding:0;text-align:left;vertical-align:top">
                          <th class="small-12 large-6 columns first" style="Margin:0 auto;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;line-height:19px;margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:8px;text-align:left;width:50%">
      <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
        <tr style="padding:0;text-align:left;vertical-align:top">
          <th style="Margin:0;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;line-height:19px;margin:0;padding:0;text-align:left">
                        <p style="Margin:0;Margin-bottom:10px;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;line-height:19px;margin:0;margin-bottom:10px;padding:0;text-align:left">
                          <strong>Estatus de la Reserva</strong><br>
                          <span class="success" style="color:#97d037">CONFIRMADA</span>
                        </p>
                        <p style="Margin:0;Margin-bottom:10px;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;line-height:19px;margin:0;margin-bottom:10px;padding:0;text-align:left">
                          <strong>N&#xFA;mero de Reservaci&#xF3;n</strong><br>
                          <%= @reservation['reference'] %>
                        </p>
                        <p style="Margin:0;Margin-bottom:10px;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;line-height:19px;margin:0;margin-bottom:10px;padding:0;text-align:left">
                          <strong>Fecha de llegada(mm/dd/AAAA)</strong><br>
                          <%= Date.strptime(@reservation['hotel']['checkIn'], "%Y-%m-%d").strftime("%m/%d/%Y") %>
                        </p>
                        <p style="Margin:0;Margin-bottom:10px;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;line-height:19px;margin:0;margin-bottom:10px;padding:0;text-align:left">
                          <strong>Fecha de salida(mm/dd/AAAA)</strong><br>
                          <%= Date.strptime(@reservation['hotel']['checkOut'], "%Y-%m-%d").strftime("%m/%d/%Y") %>
                        </p>
                        <p style="Margin:0;Margin-bottom:10px;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;line-height:19px;margin:0;margin-bottom:10px;padding:0;text-align:left">
                          <strong>Tipo de cuarto</strong><br>
                          <%= @reservation['hotel']['rooms'][0]['name'] %>
                        </p>
                      </th>
        </tr>
      </table>
    </th>
                          <th class="small-12 large-6 columns last" style="Margin:0 auto;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;line-height:19px;margin:0 auto;padding:0;padding-bottom:16px;padding-left:8px;padding-right:16px;text-align:left;width:50%">
      <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
        <tr style="padding:0;text-align:left;vertical-align:top">
          <th style="Margin:0;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;line-height:19px;margin:0;padding:0;text-align:left">
                        <p style="Margin:0;Margin-bottom:10px;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;line-height:19px;margin:0;margin-bottom:10px;padding:0;text-align:left">
                          <strong>Hotel</strong><br>
                          <%= @reservation['hotel']['name'] %>
                        </p>
                        <p style="Margin:0;Margin-bottom:10px;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;line-height:19px;margin:0;margin-bottom:10px;padding:0;text-align:left">
                          <strong>Destino</strong><br>
                          <%= @reservation['hotel']['destinationName'] %>
                        </p>
                        <p style="Margin:0;Margin-bottom:10px;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;line-height:19px;margin:0;margin-bottom:10px;padding:0;text-align:left">
                          <strong>Direcci&#xF3;n</strong><br>
                          <%= @hotel_content['address']['content'] %>
                        </p>
                        <p style="Margin:0;Margin-bottom:10px;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;line-height:19px;margin:0;margin-bottom:10px;padding:0;text-align:left">
                          <strong>Tel&#xE9;fono</strong><br>
                          <% @hotel_content['phones'].each do |phone| %>
                            <% if phone['phoneType'] == 'PHONEHOTEL' %>
                              <%= phone['phoneNumber'] %>
                            <% end %>
                          <% end %>
                        </p>
                        <p style="Margin:0;Margin-bottom:10px;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;line-height:19px;margin:0;margin-bottom:10px;padding:0;text-align:left">
                          <strong>Plan de Alimentos</strong><br>
                          <%= @reservation['hotel']['rooms'][0]['rates'][0]['boardName'] %>
                        </p>
                      </th>
        </tr>
      </table>
    </th>
                    </tr></tbody></table>
                  </td></tr></table>

                  <h4 style="Margin:0;Margin-bottom:10px;color:#2980B9;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:24px;font-weight:200;line-height:1.3;margin:28px 0 16px 0;margin-bottom:10px;padding:0;text-align:left;word-wrap:normal">Detalles de la Reserva</h4>

                  <table class="table" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                    <tr class="tr-even" style="background:#ECF0F1;padding:0;text-align:left;vertical-align:top"><th style="Margin:0;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;line-height:19px;margin:0;padding:6px 10px;text-align:left">Habitacion</th><th style="Margin:0;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;line-height:19px;margin:0;padding:6px 10px;text-align:left">Costo</th></tr>
                    <% @reservation['hotel']['rooms'].each do |room| %>
                    <tr class="" style="padding:0;text-align:left;vertical-align:top">
                      <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;hyphens:auto;line-height:19px;margin:0;padding:6px 10px;text-align:left;vertical-align:top;word-wrap:break-word">
                        <%= room['name'] %>
                        <% room['paxes'].each do |pax| %>
                          <br>
                          <%= pax['name'] %> <%= pax['surname'] %>
                        <% end %>
                      </td>
                      <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;hyphens:auto;line-height:19px;margin:0;padding:6px 10px;text-align:left;vertical-align:top;word-wrap:break-word"><%= @reservation['currency'] %> $<%= room['rates'][0]['net'] %></td>
                    </tr>
                    <% end %>
                    <tr style="padding:0;text-align:left;vertical-align:top">
                      <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;hyphens:auto;line-height:19px;margin:0;padding:6px 10px;text-align:left;vertical-align:top;word-wrap:break-word"><b>Total:</b></td>
                      <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;hyphens:auto;line-height:19px;margin:0;padding:6px 10px;text-align:left;vertical-align:top;word-wrap:break-word"><%= @reservation['currency'] %> $<%= @client_total.amount %></td>
                    </tr>
                  </table>

                  <br>
                  <br>
                  <p style="Margin:0;Margin-bottom:10px;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;line-height:19px;margin:0;margin-bottom:10px;padding:0;text-align:left">Nuevamente muchas gracias por reservar con nosotros, nos ponemos a tus ordenes para cualquier duda o informacion adicional.</p>
                  <p style="Margin:0;Margin-bottom:10px;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;line-height:19px;margin:0;margin-bottom:10px;padding:0;text-align:left">&#xA1;Buen viaje te desea Neandertravel!</p>
                </th>
        </tr>
      </table>
    </th>
              </tr></tbody></table>
              <table class="row footer text-center" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:center;vertical-align:top;width:100%"><tbody><tr style="padding:0;text-align:left;vertical-align:top">
                    <th class="small-12 large-6 columns first last" style="Margin:0 auto;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;line-height:19px;margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;text-align:left;width:274px">
      <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
        <tr style="padding:0;text-align:left;vertical-align:top">
          <th style="Margin:0;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;line-height:19px;margin:0;padding:0;text-align:left">
                  <p style="Margin:0;Margin-bottom:10px;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;font-weight:200;line-height:19px;margin:0;margin-bottom:10px;padding:0;text-align:left">
                    Bookable and payable by
                    <%= @reservation['hotel']['supplier']['name'] %>
                    <%= @reservation['hotel']['supplier']['vatNumber'] %>
                  </p>
                </th>
        </tr>
      </table>
    </th>
              </tr></tbody></table>
              <table class="row footer text-center" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:center;vertical-align:top;width:100%"><tbody><tr style="padding:0;text-align:left;vertical-align:top">
                    <th class="small-12 large-5 columns first" style="Margin:0 auto;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;line-height:19px;margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:8px;text-align:left;width:225.67px">
      <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
        <tr style="padding:0;text-align:left;vertical-align:top">
          <th style="Margin:0;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;line-height:19px;margin:0;padding:0;text-align:left">
                  <p style="Margin:0;Margin-bottom:10px;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;font-weight:200;line-height:19px;margin:0;margin-bottom:10px;padding:0;text-align:left">
                    Llamanos al
                    01 800 8387434<br>
                    Correo al soporte@neandertravel.com
                  </p>
                </th>
        </tr>
      </table>
    </th>
                    <th class="small-12 large-7 columns last" style="Margin:0 auto;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;line-height:19px;margin:0 auto;padding:0;padding-bottom:16px;padding-left:8px;padding-right:16px;text-align:left;width:322.33px">
      <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
        <tr style="padding:0;text-align:left;vertical-align:top">
          <th style="Margin:0;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;line-height:19px;margin:0;padding:0;text-align:left">
                  <p style="Margin:0;Margin-bottom:10px;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;font-weight:200;line-height:19px;margin:0;margin-bottom:10px;padding:0;text-align:left">
                    Avenida Tulum Mza. 2 Lte. 3 Piso 3 Smza. 11 Plaza Terraviva<br>
                    Canc&#xFA;n, Quintata Roo
                  </p>
                </th>
        </tr>
      </table>
    </th>
              </tr></tbody></table>
              <table class="row footer text-center" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:center;vertical-align:top;width:100%"><tbody><tr style="padding:0;text-align:left;vertical-align:top">
                    <th class="small-12 large-4 columns first" style="Margin:0 auto;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;line-height:19px;margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:8px;text-align:left;width:177.33px">
      <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
        <tr style="padding:0;text-align:left;vertical-align:top">
          <th style="Margin:0;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;line-height:19px;margin:0;padding:0;text-align:left">
                  &#xA0;
                </th>
        </tr>
      </table>
    </th>
                    <th class="small-12 large-4 columns" style="Margin:0 auto;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;line-height:19px;margin:0 auto;padding:0;padding-bottom:16px;padding-left:8px;padding-right:8px;text-align:left;width:177.33px">
      <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
        <tr style="padding:0;text-align:left;vertical-align:top">
          <th style="Margin:0;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;line-height:19px;margin:0;padding:0;text-align:left">
                  <img src="<%= image_url('logo-neander-travel.png') %>" alt="" style="-ms-interpolation-mode:bicubic;clear:both;display:block;max-width:100%;outline:0;text-decoration:none;width:auto">
                </th>
        </tr>
      </table>
    </th>
                    <th class="small-12 large-4 columns last" style="Margin:0 auto;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;line-height:19px;margin:0 auto;padding:0;padding-bottom:16px;padding-left:8px;padding-right:16px;text-align:left;width:177.33px">
      <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
        <tr style="padding:0;text-align:left;vertical-align:top">
          <th style="Margin:0;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;line-height:19px;margin:0;padding:0;text-align:left">
                  &#xA0;
                </th>
        </tr>
      </table>
    </th>
              </tr></tbody></table>
            </td></tr></tbody></table>

          </center>
        </td>
      </tr>
    </table>
    <!-- prevent Gmail on iOS font size manipulation -->
   <div style="display:none;white-space:nowrap;font:15px courier;line-height:0"> &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; </div>
  </body>
</html>

