!!!
%html
  %head
    %meta{content: 'text/html', charset: 'UTF-8', http: {equiv: 'Content-Type'}}
  %body
    %h1
      = "Bienvenido a NeanderTravel, #{@client.name} #{@client.surname}"
    %p
      Se ha creado satisfactoriamente tu cuenta. Tu nombre de usuario es:
      = @client.email
      y tu contraseña es:
      %b
        = @password
    %p
      Puedes acceder a tu cuenta en:
      = link_to "http://#{ENV['HOST']}", "http://#{ENV['HOST']}"
