= render 'shared/booking_form'

%h1= "Hoteles en #{full_destination(@country_code, @destination_code, @zone_code)}"
%br

.hotels
  - @hotels['hotels'].each do |hotel|
    - hotel_availability = extract_hotel_availability(hotel['code'], @hotels_availability['hotels']['hotels'])
    - next if hotel_availability == nil
    - hotel_show_link = hotel_link(hotel) + "?" + request.query_parameters.to_query
    .hotel-index
      .row
        .col-sm-2
          %a.image-container{ href: hotel_show_link }
            %img{ src: hotel_image(hotel) }
        .col-sm-8
          .row
            .col-sm-12
              %h2
                %a{ href: hotel_show_link }= hotel["name"]["content"]
                %span.star-rating{ class: "star-" + hotel["categoryCode"] }
                  &nbsp;
          .row
            .col-sm-12
              - if hotel.has_key? "description"
                %p= hotel["description"]["content"].truncate(200, separator: ' ')
        .col-sm-2
          .row
            .col-sm-12
              .text-center
                From
          .row
            .col-sm-12
              .price
                = hotel_availability['currency']
                $
                = hotel_availability['minRate']
          .row
            .col-sm-12
              %a.btn.btn-block.btn-warning{ href: hotel_show_link }
                Ver Hotel
                = fa_icon "angle-right"
