- @hotel_availability['hotels']['hotels'].each do |hotel|
  - hotel_content = @hotel_content['hotel']

  .hotel-show
    .row
      .col-sm-12
        %h1
          = hotel['name']
          %span.star-rating{ class: "star-" + hotel["categoryCode"] }
            &nbsp;
    .row
      .col-sm-12
        %p= "#{hotel['destinationName']}, #{hotel['zoneName']}"
    .row
      .col-sm-12
        %p= "#{hotel_content['address']['content']}, #{hotel['destinationName']}"

    .links
      .row
        .col-sm-12
          .btn-group.btn-group-justified
            %a.btn.btn-default{ href: "#hotel-images" } Fotos
            %a.btn.btn-default{ href: "#hotel-about" } Información
            %a.btn.btn-default{ href: "#hotel-rooms" } Habitaciones
            %a.btn.btn-default{ href: "#hotel-facilities" } Facilidades

    - if hotel_content.has_key?('images') && hotel_content['images'] != nil
      #hotel-images.images
        .row
          .col-sm-12
            .owl-carousel
              - hotel_content['images'].each do |image|
                .item
                  %img.image.owl-lazy{ data: { src: "https://photos.hotelbeds.com/giata/bigger/" + image['path'] } }

    #hotel-about.about
      .row
        .col-sm-12
          %h2.title
            = hotel['name']

      - if hotel_content.has_key? 'description'
        .row
          .col-sm-12
            %p
              = hotel_content['description']['content']

    #hotel-rooms.rooms
      .row
        .col-sm-12
          %h2.title
            Rooms
      - hotel['rooms'].each do |room|
        .room
          .row
            .col-sm-3
              .row
                .col-sm-12
                  .name
                    = room['name']
              .row
                .col-sm-12
                  .image-container
                    %img{ src: room_image(room['code'], hotel_content['images']) }
              - room_facilities = find_room_facilities(room['code'], hotel_content['rooms'])
              - if room_facilities
                .row
                  .col-sm-12
                    %ul.facilities
                      - room_facilities.each do |room_facility|
                        %li.facility
                          = room_facility['description']['content']
                          - if room_facility.has_key? 'indFee'
                            %span.fee
                              $
            .col-sm-9
              - keys = room['boards'].keys
              - if keys == []
                %p.text-center{ style: "margin-top: 67px; font-weight: bold;" }
                  Llama al 01 800 8387434 y consulta disponibilidad.
              - else
                - keys.each do |key|
                  - board_name = ""
                  - currency = @hotel_availability['hotels']['hotels'][0]['currency']
                  - gross_sum = Money.new(0, currency)
                  - client_total_sum = Money.new(0, currency)
                  - offers = []
                  - rate_keys = []
                  - cancellation_policies = { amount: Money.new(0, currency), from: "" }
                  - rate_class = ""
                  - room['boards'][key].each do |rate|
                    - board_name = rate['boardName']
                    - calculated_rates = calculate_gross_room_rate(rate, currency)
                    / # - currency = calculated_rates['client_total'].currency.iso_code
                    - gross_sum += calculated_rates["gross"]
                    - client_total_sum += calculated_rates["client_total"]
                    - rate_class = rate['rateClass']
                    - rate_keys.push rate['rateKey']
                    - if rate.has_key? 'offers'
                      - rate['offers'].each do |offer|
                        - offers.push offer
                    - if rate.has_key? 'cancellationPolicies'
                      - rate['cancellationPolicies'].each do |cancellation_policy|
                        - cancellation_policies[:amount] += Monetize.parse("#{currency} #{cancellation_policy['amount']}")
                        - cancellation_policies[:from] = cancellation_policy['from']
                  .rate
                    .row
                      .col-sm-4
                        .row
                          .col-sm-12
                            .board-name
                              = board_name
                        / # - if rate.has_key? 'offers'
                        - unless offers.empty?
                          - offers.each do |offer|
                            .row
                              .col-sm-12
                                .offer
                                  = offer['name']
                                  / = offer['name']
                                  / = offer['amount']
                      .col-sm-4
                        - if gross_sum != client_total_sum
                          .comparison
                            .original
                              = gross_sum.currency.iso_code
                              = gross_sum.format
                            .new
                              = client_total_sum.currency.iso_code
                              = client_total_sum.format
                      .col-sm-4
                        .price
                          = client_total_sum.currency.iso_code
                          = client_total_sum.format

                        /- room_specifics = { hotel_code: @hotel_code, room_code: room["code"], board_code: rate["boardCode"] }
                        /- new_reservation_link = new_reservation_path + "?" + room_specifics.to_query + "&" + request.query_parameters.to_query
                        - rate_keys_url_string = "?"
                        - rate_keys.each do |rate_key|
                          - rate_keys_url_string += "rate_key[]=#{rate_key}&"
                        - rate_keys_url_string = URI.encode rate_keys_url_string
                        %a.with-loader.btn.btn-warning.btn-mini.pull-right{ href: new_reservation_path + rate_keys_url_string + request.query_parameters.to_query }
                          Reservar

                    - if rate_class == 'NRF'
                      .row
                        .col-sm-12
                          .cancellation
                            Esta tarifa no es reembolsable

                    - else
                      - unless cancellation_policies[:from] == ""
                        .row
                          .col-sm-12
                            .cancellation
                              La penalidad por cancelación será de
                              = currency
                              = cancellation_policies[:amount].format
                              despúes del
                              = DateTime.iso8601(cancellation_policies[:from]).strftime('%m/%d/%Y %T %Z') + "."
                              Uso horario del destino.

    #hotel-facilities.facilities
      .row
        .col-sm-12
          %h2.title
            Facilities
      .row
        .col-sm-12
          .row
            - grouped_facilities = group_facilities hotel_content['facilities']
            - grouped_facilities.each do |grouped_facility|
              .col-sm-3
                %ul
                  - grouped_facility.each do |facility|
                    %li
                      = facility['description']['content']
                      - if facility.has_key? 'indFee'
                        %span.facility_fee
                          $
